<%- include('./partials/head.ejs') %>
  <header>
    <div class="container_header">
      <div class="container_logo">
        <img src="../img/<%= img.svg[1] %>" alt="logo" class="logo">
      </div>
      <div class="navs_header">
        <nav class="up">
          <ul>
            <% arrUl1.forEach(item => { %>
              <li><%= item %></li>
            <% }) %>
          </ul>
          <div class="final">
            <input type="text" class="search" placeholder="Search">
            <img src="../img/<%= img.svg[4] %>" alt="Share" class="share_svg">
          </div>
        </nav>
      </div>
      <nav class="down">
        <ul>
          <% arrUl2.forEach(item => { %>
            <li><%= item %></li>
          <% }) %>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    
  </main>
<%- include('./partials/footer.ejs') %>